body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 10vh;
    margin: 0;
    padding: 0;
}

/*
html,body {
    background-image: url("https://lh3.googleusercontent.com/JUND03w_ebXclf4kv7rbnbBGmTW5xzVJz33ZLDWkGdgcj97PBDCxncUxdH5P_By05Z30BG4KxhbZ_CL5ZT9dWoBvi2RI8gw7kxOhUDc9LupN5VzaTKEXuWzN9oulD1aapK9llCTWac9FoR9ov2bhyRsKCglVgjyYHduzhqYYsRD3EIxLEjl3yXqOIWX-a-NpaGjDEnfOx2mc1yLniqDhfJTsXbQI17H30VOT3vq8hPTU1CQ0WMAPHxTnFl7DT1JMbsmciPx0NmYcjAsLnycQGImMbH2npJRerPfVGPpRy7QcHxVRac6r2mqbfJ7uOnWEItTH_0QtCDdvLP416hmOlaENfJxxN7QaJfmTzWJFd2MMYAGjuqy320gidinrgUNOn0maGNGXtkjYIIJzYFwnhVYsyUI80bdJRlHC6R4hjwOyc5xnOKJlE7CWaARsELVzv_QKhR6OFeG6mUTdhkGV2PxAgUWy-WX1oP6n0GKaiFPD0fEsmdnRdHlH2Ezz0FDDrb5LjIAzdAlWPxM6zt-yh3eS5njd0zfkSJtkIipvmzQnGZN2WFhp-SZVAn4Z7ej7AD26-22ChiOI_qKzniCnNfX_WMA3dXWQq3grAzreQ_uRGsQ5kG8s2yvy7RQQFgam4qQD4-eZvd-vms-uGlizHQIXqIZfjbg7QZoH9UPNiKN9ipMLG_pi-ITSsyq_UYD7UbnKitoog2ELSvHLvsffhj-AGHlD9JvaT7jg6IXEVH13YdqNw3lITP64Gz9Gc5pKkluArg9fIErDpkcA5xffD9AXsOAJLJugjPI8Mp1TPI63nvj9lDiAbknWfm6KFox7VH39n7eFU_3mRMUVJBAR-OLbb9fAOdAQxziaqWcx4h4BuZoVG3LZAIAb1xYZ4NUU6RPtZSaHH6jPH6POzYw63c-p3tz2kbi2omEky2JWSuQesjLK=w1865-h933-no?authuser=0");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} */

p {
    font-family: Arial;
    font-size: large;
}

h1{
    text-align: center;
    font-family: Arial;
    font-size: 1cm;
    font-size: 20;
    color: white;
}

h2, h3, h4 {
    text-align: left;
    font-family: Arial;
    color: rgb(130,113,83,1);
}

/* --- Custom IDs and classes --- */
#content {
    margin: 100px 0 0 0;
    background-image: url("https://lh3.googleusercontent.com/JUND03w_ebXclf4kv7rbnbBGmTW5xzVJz33ZLDWkGdgcj97PBDCxncUxdH5P_By05Z30BG4KxhbZ_CL5ZT9dWoBvi2RI8gw7kxOhUDc9LupN5VzaTKEXuWzN9oulD1aapK9llCTWac9FoR9ov2bhyRsKCglVgjyYHduzhqYYsRD3EIxLEjl3yXqOIWX-a-NpaGjDEnfOx2mc1yLniqDhfJTsXbQI17H30VOT3vq8hPTU1CQ0WMAPHxTnFl7DT1JMbsmciPx0NmYcjAsLnycQGImMbH2npJRerPfVGPpRy7QcHxVRac6r2mqbfJ7uOnWEItTH_0QtCDdvLP416hmOlaENfJxxN7QaJfmTzWJFd2MMYAGjuqy320gidinrgUNOn0maGNGXtkjYIIJzYFwnhVYsyUI80bdJRlHC6R4hjwOyc5xnOKJlE7CWaARsELVzv_QKhR6OFeG6mUTdhkGV2PxAgUWy-WX1oP6n0GKaiFPD0fEsmdnRdHlH2Ezz0FDDrb5LjIAzdAlWPxM6zt-yh3eS5njd0zfkSJtkIipvmzQnGZN2WFhp-SZVAn4Z7ej7AD26-22ChiOI_qKzniCnNfX_WMA3dXWQq3grAzreQ_uRGsQ5kG8s2yvy7RQQFgam4qQD4-eZvd-vms-uGlizHQIXqIZfjbg7QZoH9UPNiKN9ipMLG_pi-ITSsyq_UYD7UbnKitoog2ELSvHLvsffhj-AGHlD9JvaT7jg6IXEVH13YdqNw3lITP64Gz9Gc5pKkluArg9fIErDpkcA5xffD9AXsOAJLJugjPI8Mp1TPI63nvj9lDiAbknWfm6KFox7VH39n7eFU_3mRMUVJBAR-OLbb9fAOdAQxziaqWcx4h4BuZoVG3LZAIAb1xYZ4NUU6RPtZSaHH6jPH6POzYw63c-p3tz2kbi2omEky2JWSuQesjLK=w1865-h933-no?authuser=0");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment:fixed; */
}

#divider {
    font-family: Arial;
    font-size: large;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(130,113,83,1);
}

#tesksbox {
    margin-left: 9%;
    margin-right: 9%;
    display: flex; /* Add this line */
    flex-direction: row; /* Add this line */
}

#footer {
    background-color: rgb(130,113,83,1);
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#prosjektListe a {
    color: black; /* Set the desired color for the links */
    text-decoration: none; /* Remove underline and other text decorations */
  }
  

/* Navigationbar styles */

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 23px;
    top: 0;
    position: fixed;
    overflow: hidden;
    min-width: 500px;
    background-color: rgb(130,113,83,1);
}

#navbar h1 {
    color: whitesmoke;
    font-size: x-large;
    padding: 0 0 0 7px;
}

#navbar ul {
    flex: 1;
    text-align: right;
    padding: 0 30px 0 0;
}

#navbar ul li {
    display: inline-block;
    list-style: none;
    position: relative;
}

#navbar ul li a {
    position: relative;
    margin: 0;
    padding: 0 10px;
    text-decoration: none;
    color: #FEFCFD;
    font-family: Arial;
    font-weight: bold;
}

#navbar ul li a:hover {
    margin: 0;
    color: #FAF9F6;
    border-bottom: 4px solid #FAF9F6;
}

.button {
    
    background-color: rgb(130,113,83,0.5);
    color: whitesmoke;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    transition: background-color 0.25s ease;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}

.button:hover {
    color: rgb(130,113,83,0.5);
    background-color: whitesmoke;
}